* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height: 100%;
}

div.ex1 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px dotted black;
}

div.ex2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px outset red;
}

div.ex3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px dashed yellowgreen;
}

/*
Outros exemplos de bordas
dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border
*/