* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}
/* Exemplo 1 Position */
/* div.box {
  position: absolute;
  bottom: 30px;
  width: 200px;
  height: 250px;
  background: #000;
}

div.box1 {
  width: 200px;
  height: 250px;
  background: red;
} */

/* Exemplo 2 */
div.box1 {
  width: 250px;
  height: 200px;
  background:red;
}

div.box1 p {
  position: relative;
  left: 20px;
}